<div class="container" style="margin: 50px">
    <h2>📚Listado de Libros</h2>

    @if(libros.length <= 0){
       <p class="text-center">No hay libros registrados :/</p>
    }@else {
        <table class="table table-bordered">
            <thead class="table-success">
                <tr>
                    <th>ID Libro</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Editorial</th>
                    <th>Recomendado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @for(libro of libros; track libro._id; let i=$index){
                    <tr>
                        <td>{{ libro._id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.autor }}</td>
                        <td>{{ libro.editorial }}</td>
                        <td>{{ libro.recomendado ? 'Si':'No' }}</td>
                        <td>
                            <a [routerLink]="['/editar-libro',libro._id]" class="btn btn-warning btn-sm">Editar</a>
                        </td>
                        <td>
                            <a (click)="eliminarLibro(libro, i)" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
